.container {
  height: 100vh;

  width: 100%;
  overflow: hidden;
}
.slides {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    245deg,
    rgba(0, 0, 0, 0.11817226890756305) 67%,
    rgba(0, 0, 0, 0.7344187675070029) 88%
  );
}
.slides .slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slides .slide img {
  max-height: 100%;
  width: 100%; /* Ensures the image maintains its aspect ratio */
}
.slides .slide .detailbox {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;

  background: linear-gradient(28deg, rgba(0, 0, 0, 0.93) 0%, rgba(46, 120, 129, 0) 54%, rgba(238, 130, 238, 0.01) 100%);
}

.details {
  position: absolute;
  bottom: 0;
  width: clamp(380px, 100%, 600px);
  border: 2px solid white;
  height: 40%;
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}
@media (width<= 600px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .slide img {
    height: 60vh;
    width: 100%;
  }
  .slides .slide {
    height: 60vh;
  }
  .slides .slide .detailbox {
    width: 50vw;
    padding: 0 1rem;
    display: none;
  }
}
